body {
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}

.input {
  width: 80%;
  margin: 10px;
  height: 30px;
  font-size: large;
  padding: 3px 10px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form {
  background-color: darkslategrey;
  padding: 8%;
  text-align: center;
  width: 35%;
  box-shadow: 1px 2px 2px #f3f3f3;
  border: 2px solid;
  border-radius: 6px;
  margin: 60px auto;
}

.btn {
  width: 35%;
  margin: 10px;
  height: 60px;
  font-size: large;
  padding: 3px 10px;
}
